<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_CookieNotice
* @author     Kathir Vel (sid@optimiseweb.co.uk)
* @copyright  Copyright (c) 2013 Optimiseweb Ltd
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <modules>
        <Optimiseweb_CookieNotice>
            <version>0.1.5</version>
        </Optimiseweb_CookieNotice>
    </modules>

    <frontend>

        <layout>
            <updates>
                <cookienotice>
                    <file>optimiseweb_cookienotice.xml</file>
                </cookienotice>
            </updates>
        </layout>

        <translate>
            <modules>
                <Optimiseweb_CookieNotice>
                    <files>
                        <default>Optimiseweb_CookieNotice.csv</default>
                    </files>
                </Optimiseweb_CookieNotice>
            </modules>
        </translate>

    </frontend>

    <global>

        <blocks>
            <cookienotice>
                <class>Optimiseweb_CookieNotice_Block</class>
            </cookienotice>
        </blocks>

        <helpers>
            <cookienotice>
                <class>Optimiseweb_CookieNotice_Helper</class>
            </cookienotice>
        </helpers>

        <models>
            <cookienotice>
                <class>Optimiseweb_CookieNotice_Model</class>
            </cookienotice>
        </models>

    </global>

    <default>

        <optimisewebcookienotice>
            <general>
                <enabled>1</enabled>
                <lifetime>31</lifetime>
            </general>
            <message>
                <message>This site uses cookies. By continuing to browse this site you are agreeing to our use of cookies.</message>
                <cms_page>privacy-policy-cookie-restriction-mode</cms_page>
                <link_text>Find out more here.</link_text>
            </message>
            <appearance>
                <type>bar</type>
                <position_bar>bottom</position_bar>
                <position_box>bottom-right</position_box>
                <top_bar_padding>0</top_bar_padding>
                <top_bar_padding_closed>0</top_bar_padding_closed>
            </appearance>
            <behaviour>
                <persistent>0</persistent>
                <close_enabled>1</close_enabled>
                <close_text><![CDATA[<strong>x</strong>]]></close_text>
                <autohide>0</autohide>
                <autohide_time>5</autohide_time>
            </behaviour>
        </optimisewebcookienotice>

    </default>

</config>