<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_CookieNotice
* @author     Kathir Vel (sid@optimiseweb.co.uk)
* @copyright  Copyright (c) 2013 Optimiseweb Ltd
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <tabs>
        <optimisewebconfig translate="label comment" module="cookienotice">
            <label>Optimise Web</label>
            <sort_order>0</sort_order>
        </optimisewebconfig>
    </tabs>

    <sections>

        <optimisewebcookienotice translate="label comment" module="cookienotice">
            <label>Cookie Law (EU / UK) Notice</label>
            <tab>optimisewebconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>

                <general translate="label comment" module="cookienotice">
                    <label>General</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment" module="cookienotice">
                            <label>Enabled?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <lifetime translate="label comment" module="cookienotice">
                            <label>Cookie Lifetime (in days)</label>
                            <comment>Defaults to 31 (days).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </lifetime>
                    </fields>
                </general>

                <message translate="label comment" module="cookienotice">
                    <label>Message / Notice</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <message translate="label comment" module="cookienotice">
                            <label>Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message>
                        <cms_page translate="label comment" module="cookienotice">
                            <label>Cookie Details Page</label>
                            <comment>CMS page with details about cookies</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>cookienotice/system_config_source_cmspages</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_page>
                        <link_text translate="label comment" module="cookienotice">
                            <label>Friendly name for the link</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </link_text>
                    </fields>
                </message>

                <appearance translate="label comment" module="cookienotice">
                    <label>Appearance</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <container_class translate="label comment" module="cookienotice">
                            <label>Container Class (Outer)</label>
                            <comment>You can add custom classes (space separated).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </container_class>
                        <content_class translate="label comment" module="cookienotice">
                            <label>Content Class (Inner)</label>
                            <comment>You can add custom classes (space separated).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </content_class>
                        <type translate="label comment" module="cookienotice">
                            <label>Notice type</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <source_model>cookienotice/system_config_source_noticetype</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <position_bar translate="label comment" module="cookienotice">
                            <label>Position for Bar type notice</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>cookienotice/system_config_source_barposition</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position_bar>
                        <position_box translate="label comment" module="cookienotice">
                            <label>Position for Box type notice</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>cookienotice/system_config_source_boxposition</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </position_box>
                        <top_bar_padding translate="label comment" module="cookienotice">
                            <label>Top Bar - Body Padding - Visible</label>
                            <comment>When Type = Bar and Position = Top, 'padding-top' value for 'body', in pixels.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </top_bar_padding>
                        <top_bar_padding_closed translate="label comment" module="cookienotice">
                            <label>Top Bar - Body Padding - Closed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </top_bar_padding_closed>
                    </fields>
                </appearance>

                <behaviour translate="label comment" module="cookienotice">
                    <label>Behaviour</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <persistent translate="label comment" module="cookienotice">
                            <label>Persistent Notice?</label>
                            <comment>Do you wish to show the notice persistently until the visitor clicks the 'close' button? If this option is set to 'No', the notice will be shown on the first page the visitors land on and will not appear on the consecutive pages that they visit.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </persistent>
                        <close_enabled translate="label comment" module="cookienotice">
                            <label>Enable close button?</label>
                            <comment>If you set the notice to be persistent and disable to 'close' button, visitors will not be able to close the notice.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </close_enabled>
                        <close_text translate="label comment" module="cookienotice">
                            <label>Close button text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </close_text>
                        <autohide translate="label comment" module="cookienotice">
                            <label>Autohide the notice?</label>
                            <comment>Setting autohide to 'Yes' will override the persistent notice setting.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autohide>
                        <autohide_time translate="label comment" module="cookienotice">
                            <label>Autohide after (in seconds)</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>cookienotice/system_config_source_seconds</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autohide_time>
                    </fields>
                </behaviour>

            </groups>

        </optimisewebcookienotice>

    </sections>
</config>